*{
	margin:0;
	padding:0;
}

body{
	background-image: url("../Graphik/tittelbild.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}
h1{
	color: orange;
	text-align: center;
	width: 850px;
	height: 15%;
	font-size: 50px;
	margin-top:1%;
	text-shadow: 3px 2px black;
	font-family: Verdana;
}
h2{
	color: brown;
	text-align: center;
	width: 850px;
	height: 7%;
	font-size: 30px;
	margin-top:3%;
	text-shadow: 1px 1px black;
	font-family: Verdana;
}
a{
	text-decoration: none;

}
#block{
	width: 850px;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	color:black;
}
.link1, .link2{
	font-size: 35px;
	font-family: Arial;
	float: left;
	margin-top:30px;
	margin-bottom:30px;
	padding-top: 0px;
	box-sizing: border-box;
	width:50%;
}
.link1{
	text-align: left;
}
.link2{
	text-align: right;
}
.box0{
	text-align: center;
	padding-top: 8%;
	padding-bottom: 2%;
	font-size: 35px;
}
.box1, .box2, .box3, .box4, .box5, .box6{
	float: left;
	padding-top: 10px;
	box-sizing: border-box;

}
.box1{
	padding-top: 20px;
	font-size:17px;
	width: 50%;
	text-align: left;
}
.box2{
	font-size:17px;
	width: 30%;
	text-align: left;
	margin-bottom: 2%;
}
.box3{
	font-size:17px;
	width: 30%;
	text-align: left;
	margin-bottom: 2%;
}
.box4{
	font-size:17px;
	width: 30%;
	text-align: left;
	margin-bottom: 2%;
}
.box5{
	font-size:17px;
	width: 30%;
	text-align: left;
	margin-bottom: 2%;
}
.box1, .bild1{
	float: left;
}
.bild1{
	margin-top:9%;
	margin-left:12%;
}
.bild2, .box2{
	float: right;
	margin-right:46%;
}
.bild2{
	margin-top:2%;
	margin-right:7%;
	margin-bottom: 5%;
}
.bild3, .box3{
	float: right;
	margin-right:46%;
}
.bild3{
	margin-top:2%;
	margin-right:7%;
	margin-bottom: 5%;
}
.bild4, .box4{
	float: right;
	margin-right:46%;
}
.bild4{
	margin-top:2%;
	margin-right:7%;
	margin-bottom: 5%;
}
.bild5, .box5{
	float: right;
	margin-right:46%;
}
.bild5{
	margin-top:2%;
	margin-right:7%;
	margin-bottom: 5%;
}
.box6{
	margin-bottom: 5%;
	font-size:17px;
	width: 60%;
	text-align: left;
}
 /* unvisited link */
a:link {
    color: black;
}

/* visited link */
a:visited {
    color: black;
}

/* mouse over link */
a:hover {
    color: #00008B;
}

/* selected link */
a:active {
    color: black;
}
