*{
	margin:0;
	padding:0;
}

body{
	background-image: url("../Graphik/tittelbild.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}
h1{
	color: orange;
	text-align: center;
	width: 850px;
	height: 10%;
	font-size: 65px;
	text-shadow: 3px 2px black;
	font-family: Verdana;
	margin-top: 2%;
	margin-bottom: 2%;
}
h2{
	color: brown;
	text-align: center;
	width: 850px;
	height: 7%;
	font-size: 30px;
	margin-top:3%;
	text-shadow: 1px 1px black;
	font-family: Verdana;
}
a{
	text-decoration: none;

}
#block{
	width: 850px;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	color:black;
}
.link1, .link2{
	font-size: 35px;
	font-family: Arial;
	float: left;
	margin-top:30px;
	margin-bottom:30px;
	padding-top: 0px;
	box-sizing: border-box;
	width:50%;
}
.link1{
	text-align: left;
}
.link2{
	text-align: right;
}
.box1, .box2, .box3{
	margin-left: 26%;
	font-weight: bold;
	font-size: 18px;
}
.box1{
	text-align: left;
}
.box2{
	padding-left:15%;
	text-align: left;
}
.box3{
	padding-left:30%;
	text-align:left;
}
.box4{
	float: right;
	font-size: 17px;
	margin-top:20px;
	margin-bottom:20px;
	text-align: justify;
}
.box5{
	margin-left:18%;
}
.link3, .link4, .link5, .link6{
	font-size: 35px;
	font-family: Arial;
	float: left;
	margin-top:30px;
	margin-bottom:100px;
	padding-top: 0px;
	box-sizing: border-box;
	width: 20%;
}
.link3{
	margin-left:10%;
	text-align: center;
}
.link4{
	text-align: center;
}
.link5{
	text-align: center;
}
.link6{
	margin-right:10%;
	text-align: center;
}
 /* unvisited link */
a:link {
    color: black;
}

/* visited link */
a:visited {
    color: black;
}

/* mouse over link */
a:hover {
    color: red;
}

/* selected link */
a:active {
    color: black;
}
